* {
    font-family: 'Roboto', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #cccccc;
}


h1 {
    margin: 0;
    font-weight: 300;
}

.flex {
    display: flex;
}

.main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 100px;
}

.main-header {
    background-color: #101d1a;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 120px;
    border: #7e7e7e 15px solid;
    width: 100%;
}

/*.form-container{*/
/*    height: 400px;*/
/*    width: 200px;*/
/*}*/


.login-form {
    padding: 10px;
    flex-direction: column;
    border: black 2px solid;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 300px;
    background-color: #d9d9d9;
    gap: 60px;
}

.form-input {
    border-radius: 8px;
    border-style:none;
    height: 35px;
    width: 90%;
}

label {
    font-size: x-large;
    font-weight: 300;
    color: #000000;
}

input {
    font-size: large;
}

.login-button {
    height: 35px;
    width: 75px;
    border-radius: 8px;
    background-color: #0200c6;
    color: white;
    font-size: large;
}

.login-button:hover {
    cursor:pointer;
}
